@tailwind base;
@tailwind components;
@tailwind utilities;


.pop-small {
    @apply !p-1 !px-2 text-sm border-info text-center
}

/* Table pagination: active page highlight */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

/* Table pagination: for dark mode*/
.mary-table-pagination span[aria-disabled="true"] span {
    @apply bg-inherit
}

/* Table pagination: for dark mode */
.mary-table-pagination button {
    @apply bg-base-100
}
.custom-logo-size img {
    width: 60px; /* ou toute autre taille */
}
/* resources/css/app.css */
.drawer-side .menu {
    padding: 0.5rem;
}

.drawer-side .menu-item {
    border-radius: 0.375rem;
    transition: background-color 0.2s ease;
    padding: 0.5rem 1rem;
}

.drawer-side .menu-item:hover {
    background-color: #e5e7eb; /* bg-gray-200 */
}

.drawer-side .menu-item.no-link {
    cursor: default;
    font-weight: bold;
}

/* Style pour les sous-menus */
.drawer-side .menu-item .menu-item {
    padding-left: 2.5rem; /* Correspond à pl-6 */
    font-size: 0.875rem; /* text-sm */
}

.drawer-side .menu-item .menu-item:hover {
    background-color: #f3f4f6; /* bg-gray-100 */
}
